.StatsTable {
    border: 1px solid #c1c1c5;
    border-radius: 10px;
    margin-bottom: 16px;
}

.InfoTable {
    border: 1px solid #c1c1c5;
    border-radius: 10px;
    margin-bottom: 16px;
}

.SyncTable {
    border: 1px solid #c1c1c5;
    border-radius: 10px;
    margin-bottom: 16px;
}

.MovesTable {
    border: 1px solid #c1c1c5;
    border-radius: 10px;
    margin-top: 8px;
}

.MoveBox {
    margin-top: 12px;
    margin-bottom: 16px;
}
